[submodule "GoVarnam/govarnam"]
	path = GoVarnam/govarnam
	url = https://github.com/varnamproject/govarnam.git
[submodule "GoVarnam/schemes"]
	path = GoVarnam/schemes
	url = https://github.com/varnamproject/schemes.git
[submodule "ShortcutRecorder"]
	path = ShortcutRecorder
	url = https://github.com/Kentzo/ShortcutRecorder.git
